*{
    margin: 0px;
    padding: 0px;
}
#container{
    visibility: visible;
    margin: 0px;
    padding: 20px;
    background-color: blue;
    border-radius: 10px;
    float: left;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
#container > *,
#container > #sign-up > *,
#container > #sign-up > div > *{
    padding: 10px;
    overflow: hidden;
}
#container > #sign-up > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#container > #sign-up > div > label{
    padding: 0px;
}
#container > #sign-up-button > button{
    padding: 10px;
    border: 0px;
    border-radius: 10px;
}
#verify{
    visibility: hidden;
    padding: 50px;
    border-radius: 10px;
    background-color: #d0d0d0;
    color: black;
    float: left;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
}
#verify > #text{
    font-size: 25px;
    font-weight: bolder;
}