body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eddcd2;
    color: black;
}

.fill-box {
    border: 2px solid black;
    width: 400px;
}

.labels {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.card {
    box-shadow: 0 8px 8px 0 rgba(48, 47, 47, 0.2);
    border-radius: 25px;
    transition: 0.3s;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 42%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}