 body {
     margin: 0px;
     padding: 0px;
     font-family: 'Poppins', sans-serif;
     background-color: rgba(223, 218, 218, 0.806);
 }

 .heading {
     margin: 0px;
     padding: 25px;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     text-align: center;
     font-size: 20px;
 }

 .container {
    
    padding: 10px;
     text-align: center;
     
 }

 .container>p,
 .container>span {
     text-align: center;
     font-size: 12px;
     margin: 5px;
     padding: 0px;
 }

 .container>.addBtn {
     float: right;
 }

 .addClass {
     display: none;
     padding: 50px;
     background-color: lightgray;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     position: absolute;
 }

 .addClass>div>* {
     display: flex;
     width: fit-content;
     text-align: center;
 }

 .addEnter {
     display: flex;
     justify-content: center;
 }

 .container1 {
     display: flex;
     justify-content: center;
     align-items: center;
     /* text-align: center; */
     border: 2px dashed black;
     border-radius: 8px;
     padding: 20px;
     margin: 20px;
     cursor: pointer;
 }

 .container1:hover {
     background-color: rgba(166, 169, 165, 0.616);
 }


 .fa-solid {
     padding-left: 10px;
     size-adjust: 40%;
 }

 .cards {
     border: 2px solid black;
     margin: 0;
     position: relative;
     left: 0%;
     width: max-content;
     height: 80%;
     /* display: flex; */
     flex-direction: column;
     align-items: center;
     height: fit-content;
     border-radius: 4px;
     /* flex-grow: 1; */
 }

 .cards>p {

     margin: 0;
     color: rgb(100, 100, 100);
     background: #000;
     text-align: center;

 }

 .cards>div{
    padding: 10px;
    text-align: center;
 }
    


 .cards * {
     background-color: rgb(104, 101, 101);

 }

 .classes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black ; */
 }

 .upcomingClass {
     display: flex;
     flex-direction: row;
     gap: 10px;
     margin-top: 40px;
     border: 2px solid black;
     padding: 10px;
     border-radius: 5px;
     width: 90%;
 }

 .ongoingClass {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
    /* border: 2px solid black; */

 }

 .ongoingClass > .cards >div > div{
    display: flex;
    flex-direction: row;
 }

 .ongoingClass > .cards >div > div>span{
    text-align: center;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid black;
    width: fit-content; 
    margin-block-end: 10px;
 }


 .ongoingClass > .cards >div > div :hover{
    background-color: white;
 }

 table,td,th{
    border: 1px solid black;
 }

 .heading2{
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    box-sizing: content-box;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    color: white;
 }


 .addClassBtn{
    
    background-color: white;
    border: 2px black;
    width: fit-content;
    border:2px solid black;
    border-radius: 5px ;

 }

 .addClassBtn>input,label{
    border-radius: 2px;
    margin: 4px;
    width: auto;

 }

 .addClassBtn *{
    padding: 5px;
    margin: 10px;

 }